.main-page {
    border-top: 1px solid #c6c6c6;
}
.main-page .the-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1199px) {
    .main-page .hed-search {
        width: 58% !important;
    }
}
.main-page .hed-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.main-page .hed-search h2 {
    width: 100%;
}
.main-page .hed-search .search-num {
    width: 92%;
    border: #09937f 1px solid;
    border-radius: 5px;
    padding: 1%;
    outline: none;
}
.main-page .main-search {
    height: 400px;
    width: 33%;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page .main-search .type {
    width: 63%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}
.main-page .main-search .type span:last-child{
    width: 12%;
}
.main-page .main-search .the-search {
    width: 96%;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
    align-items: center;
}
.main-page .main-search .the-search .search-text {
    width: 57%;
    border: 1px dashed #007565;
    padding: 2%;
    border-radius: 4px;
    background: #f4f9fb;
    outline: none;
}

.main-page .main-search .add-btn {
    width: 45%;
    border: none;
    background: #0075654d;
}
.main-page .main-search .add-btn button {
    width: 100%;
}
.main-page .main-search .the-search .sec-btn {
    width: 30%;
}
.main-page .main-search .the-search .sec-btn input{
    width: 100%;
    padding: 6%;
}
.main-page .main-search .the-search .sec-btn .minus-btn,
.main-page .main-search .the-search .sec-btn .plus-btn {
    width: 85%;
    height: 100%;
    color: #ffffff;
    background: #4199f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.main-page .main-search .the-search .sec-btn .minus-btn::selection,
.main-page .main-search .the-search .plus-btn::selection {
    background-color: transparent;
}
.main-page .main-search .the-search .sec-btn .minus-btn {
    grid-column: 2;
    background: #e96363;
}
.main-page .main-search .the-search .sec-btn .num {
    font-weight: bold;
}
.main-page .next-btn {
    width: 30%;
    background: #007565;
    border-radius: 8px;
    margin-top: 25px;
    padding: 0.5%;
}
.main-page .next-btn button {
    width: 100%;
    color: #ffffff;
}
